* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parentcontainer {
    display: flex;
}

.sidebar {
    min-width: 18%;
    height: 100vh;
    background-color: rgb(237, 66, 106);
    display: block;
    position: sticky;
    top: 0px;
    
}

.sidebar h1 {
    text-align: center;
    padding: 20px 0px;
    color: white;
}

.sidebar a {
    display: block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
}
.sidebar a:hover {

    color: rgb(255, 255, 255);
}

.sidebar a i {
    width: 35px;
}

.Logo {
    transform: rotate(10deg);
    z-index: 1;
}

.sidebar .active {
    background-color: rgb(13, 195, 245);
    border-radius: 10px;

}

@media screen and (max-width:990px) {

    .sidebar a {
        padding: 10px 15px;
    }

    .sidebar a i {
        width: 30px;
    }

}


.AddCategories {
    width: 100%;
    background-color: rgba(206, 210, 210, 0.409);
    /* text-align: center; */
}

.AddCategories h1 {
    margin-top: 20px;
    text-align: center;
}



.AddCategoryForm {
    background-color: rgb(192, 189, 189);
    border-radius: 10px;
    border: 1px solid black;
}


.CategoryItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 2px;
    margin-top: 30px;
    box-shadow: 6px 6px 9px -2px rgba(135,134,134,0.86);
}

.card img {
    width: 100%; 
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid black;
}


@media screen and (max-width : 800px){
   .sidebar{
    display: none;
   }
}


.fa-cogs:hover{
cursor: pointer;
}