* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parentcontainer {
    display: flex;
}

.sidebar {
    min-width: 18%;
    height: 100vh;
    background-color: rgb(237, 66, 106);
    display: block;
    position: sticky;
    top: 0px;

}

.sidebar h1 {
    text-align: center;
    padding: 20px 0px;
    color: white;
}

.sidebar a {
    display: block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
}

.sidebar a:hover {

    color: rgb(255, 255, 255);
}

.sidebar a i {
    width: 35px;
}

.Logo {
    transform: rotate(10deg);
    z-index: 1;
}

.sidebar .active {
    background-color: rgb(13, 195, 245);
    border-radius: 10px;

}

@media screen and (max-width:990px) {

    .sidebar a {
        padding: 10px 15px;
    }

    .sidebar a i {
        width: 30px;
    }

}

@media screen and (max-width : 800px) {
    .sidebar {
        display: none;
    }
}

tr td img {
    width: 70px;
    object-fit: cover;
    height: 50px;

}


#orderDetails{
    font-size: 22px;
    background-color: rgba(159, 161, 161, 0.466);
    border-radius: 10px;
    /* width: ; */
    
}


.card {
    box-shadow: 7px 6px 11px -4px rgba(142, 143, 146, 1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid black;
}